@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

:root {
    --color_A: #edddfe;
    --color_B: #7971fe;
    --color_C: #c4a8fe;
    --color_D: #ffe0c1;
    --color_E: #feafc0;
    --color_F: rgba(239, 179, 242, 0.449);
    --color_G: #fd81bc;
    --color_H: #fdff99;
    --color_I: #f7fe97;
    --color_J: #effd91;
    --w_pading: 1vh;
    --h_pading: 1vw;
}

body {
  display: flex;
  flex-direction: column;
  background-blend-mode: color;
  background-color: var(--color_A);
  color: #47287a;
  height: 100vw;
  padding: 1vmax;
}

.title {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 0.1rem;
}

ol {
  display: flex;
  flex-direction: column;
  align-self: center;
}

li span {
  font-weight: 700;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.info {
  display: flex;
  flex-direction: row;
}

.info div {
  padding: 0.5em;
  gap: 0.5em;
}

.info .container-text {
  background: var(--color_C);
  border: 1px solid var(--color_B);
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  padding: 10px 15px;
  border-radius: 10px;
}

.container-text b {
  font-size: larger;
  transform: translateX(2vw);
}

.container-text [class*="regular-text"] {
  font-size: large;
  font-weight: 300;
  font-style: normal;
}

.container-text > p {
  font-size: large;
  font-weight: 500;
  font-style: italic;
}

.avatar {
  border-right: 2px solid black;
  border-radius: 50%;
  height: 150;
  width: 150;
}

.targets {
  border: 1px solid var(--color_B);
  background: var(--color_D);
  padding: 0px 15px;
  border-radius: 10px;
}

.study-timing {
  border: 1px solid var(--color_B);
  background: var(--color_E);
  padding: 0px 15px 15px 15px;
  border-radius: 10px;
}

.study-already-done {
  border: 1px solid var(--color_B);
  /* background: rgb(249, 160, 254, 0.3); */
  background: var(--color_F);
  padding: 0px 15px 15px 15px;
  border-radius: 10px;
}

.study-already-done .course-tb {
  width: 100%;
  border-collapse: collapse;
  border: 0px dotted rgba(128, 128, 128, 0.605);
} 
.study-already-done .course-tb .header-tb {
  width: 30%;
  background-color: #3f6ce8;
  font-weight: 700;
  color: whitesmoke;
  border: 0px;
  border-bottom: 3px solid #47287a;
}

.course-tb tbody > tr:nth-child(2) {
  background-color: #b988ced0;
}
 
th {
  width: 20%;
}

th, td {
  padding: 10px 15px;
}

/* td:first-child {
  width: 30%;
} */

.contact-gr {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}